<h1>
	Profiles :
</h1>

{% block body %}
    {% for profile in profiles %}
	<form action="/client" method="POST" name="">
		Name:
		<br>
			<input type="text" name="name" value={{ profile.name }}>
		<br>
		Csi:
		<br>
			<input type="text" name="csi" value={{ profile.csi }}>
		<br><br>
		<input type="submit" value="Submit">
	</form> 
	{% else %}
	<li>No users.</li>
    {% endfor %}
{% endblock %}